body {
    text-align: left;
    font-family: Arial, sans-serif;
}

label {
    margin-right: 5px;
}

input, label, select, p {
    font-size: 0.85em;
}

input[type="text"] {
    width: 50px;
    padding: 2px;
}